body {
	background: LightGray;
}

#shapka {
	background: DarkSlateGray;
	color: white;
	font-size: 300%;
	text-align: center;
	font-family: cursive;
	margin-top: 10%;
}

p {
	text-align: center;
}

.button {
	background: DimGrey;
	font-size: 150%;
	color: white;
	cursor: pointer;
	border-radius: 30px;
	padding: 5px;
  	
}

.class1 {
	margin-left: 40%;
	cursor: pointer;
	font-size: 150%;
	width:350px; 
	height:150px; 
	background: LightGray ; 
	overflow: auto; /* свойство для прокрутки  */
}

ul li:nth-child(odd){
	background: LightSlateGray;
	color: black;
}
.close {
  float: right;
  
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


